.BlackjackPlayer {
  padding: 5px;
  border: 1px solid gray;
}

.BlackjackPlayer .StatusText.status_waiting {
  color: lightslategray;
}

.BlackjackPlayer .StatusText.status_active {
  color: forestgreen;
}

.BlackjackPlayer .StatusText.status_busted {
  color: red;
}

.BlackjackPlayer .StatusText.status_passed {
  color: lightslategray;
}